<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>

  <HideRaidStrategy.MaskRaidLikeEvents.Label>Mask also raid-like events</HideRaidStrategy.MaskRaidLikeEvents.Label>
  <HideRaidStrategy.MaskRaidLikeEvents.Tooltip>Events similar to raids will appear as raids.\nAnd example is events from the '[SR]Raid Extension (fork)' mod.</HideRaidStrategy.MaskRaidLikeEvents.Tooltip>

</LanguageData>
